files:
  /home/ec2-user/.ssh/extra_authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDWnhszf0CXz5+oKhOw9CXU0e/85lJVmNsa7AgkvdZX377QYQz52fuFSPQBH0BUwRNen2hRJUxaqQ7woYQIVgZD0FyErI3iCm6cFJXlIuwhQDLDsy5yybgSQT/QrRdWRR4iJU9rKNUWNwDQJ7C5nNuYUqBHvt1YzIABB+65Z+YX6fTDfUXQP0IU8iJRqdatYSXVQZlnZ6XlAPWEZZfab/+o5vtrn931r0S4y198hhvNRQN6f8xY/lV418BoUKeP4saHUYxgeYxZ9fKAl+CkLK8+mi+R+CTPTQBxwEqIcQJUDZA43j4u1JqrtW/ScpvGGs0NIPjTCWyrW19n2SqKWfwb rapidboxing-mac
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDbgp+bOtqZmxqSaJjt+34rx89SNqimipCiPDQ+U4A7tIUbcYmIVy9TIw98QcettOn/mj43HSt8ha1rPHPUAGXhwAiJ8boNPqP2KRP7RiBh01JrUrqUkMs1D7lb3PeBqBA2XMjyOz0UqR90w2cEAGhaNlmRtjyG+IQ05VdKHjTiL/ylGc0XRxoY9TUh4D8xwPkAjChoXgALODsbTB80QPQOUf1h0d7S9OBTUC018iJms/Qq5XWTUEn33/vvSF09Dcn31g5f/1TAVZWWKzC0W38xk08za1RohYz2+1+0y4HCPeMJm/6WC5ewPPeVLFjGEw4ZmJyhQrE8Y95ywOJb6RFL rapidbox
commands:
  01_append_keys:
    cwd: /home/ec2-user/.ssh/
    command: sort -u extra_authorized_keys authorized_keys -o authorized_keys
  99_rm_extra_keys:
    cwd: /home/ec2-user/.ssh/
    command: rm extra_authorized_keys