/**
 * General base styles to be used across all layouts.
 *
 * Index
 * - Body
 * - Fonts
 * - Images
 * - Buttons
 * - Links
 * - Icons
 * - Bootstrap Card
 * - Bootstrap Table
 * - Bootstrap Breadcrumbs
 * - Bootstrap Borders
 * - Slider
 * - Timeline
 * - Modal
 * - Miscellaneous
 *
 */

// Generic body styles
body {
  font-family: $body-font;
  font-size: $font-sm;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.body-dashboard {
  background: #fff;
  padding-top: 50px;

  @include media-breakpoint-up($navbar-sidebar-breakpoint) {
    margin-left: $navbar-sidebar-width;
  }
}

.draft-items-table {
  border-bottom: 1px solid #e6e6e6;
  &:last-of-type {
    border: none;
  }
  th {
    padding-left: 0;
    font-weight: normal;
  }
  td {
    padding-right: 0;
  }
}

.customer-info-row {
  border-bottom: 1px solid #f7f7f7;
}

.archived-order-line-item {
  border: 1px solid #f7f7f7;
  padding: 0 20px;
  margin-bottom: 20px;
  &:last-of-type {
    margin: 0;
  }
}

.page-link {
  border: 1px solid #f7f7f7;
  color: #2d2d2d;
}

// Fonts
.title {
  font-family: $heading-font;
}

.title-light {
  font-family: $secondary-font;
}

.title-xs {
  font-size: 1.35rem;
}

.title-sm {
  font-size: $font-md;
}

.title-sm {
  font-size: $font-md;
}

.title-md {
  font-size: $font-lg;
}

.title-lg {
  font-size: $font-xl;
}

.title-light-sm {
  font-size: $font-md;
}

.font-size-xs {
  font-size: 1rem;
}

.lead {
  font-size: 22px;
  font-weight: 300;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-truncate {
  overflow: hidden;
  width: 90%; //can also use calc function as per Yudi's answer
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Images
.img-eh {
  width: 100%;
  height: 350px;
  object-fit: cover;
  background: #e4e4e4;
}

.img-md-eh {
  width: 100%;
  height: 250px;
  object-fit: cover;
  background: #e4e4e4;
}

.img-thumb {
  width: 60px;
}

// Buttons
.btn {
}

.btn-lg {
  font-size: $font-btn-lg;
}

.btn-md {
  font-size: $font-btn-md;
}

.btn-shadow {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

.bg-primary-alt {
  background: #0088bf;
}

// Links
.link {
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.link-regular {
  color: white;
}

.link-secondary {
  color: $secondary;
}

.link-info {
  color: $info;
}

.link-danger {
  color: $danger;
}

// Font awesome icons
.fa-lg {
  font-size: 2.4em;
}

.fa-md {
  font-size: 1.5em;
}

// Bootstrap card
.card {
  border: 1px solid #f8f8f8;
}

.card-header {
  border: none;
}

.custom-card {
  box-shadow: 1px 1px 32px 0px rgba(0, 0, 0, 0.1);
}

.box-shadow {
  box-shadow: 3px 3px 3px 3px #ccc;
  padding: 20px;
  border-radius: 4px;
}

// Bootstrap table
.table thead th {
  border-bottom: 0;
}

.table td,
.table th {
  border-top: 1px solid #f7f7f7;
}

// Bootstrap breadcrumbs
ol.breadcrumb {
  background: none;
  padding: 0;
  border-radius: 0;

  a {
    text-decoration: none;
  }

  li {
    font-size: 15px;
  }
  .active {
    color: #000;
  }
  .incomplete {
    color: #737373;
  }
}

// Bootstrap borders
.border-sm {
  border-bottom-width: 2px !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $primary-light;
}

// Slider
.black-overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

// Timeline
#timeline-content {
  /* Variables */
  $background: #252827;

  $color-primary: #004ffc;
  $color-light: white;
  $color-dim: #6c6d6d;
  $spacing: 50px;
  $radius: 4px;

  $date: 120px;
  $dotborder: 4px;
  $dot: 14px;
  $line: 4px;

  width: 50%;
  margin: 0 auto;

  p {
    font-weight: 300;
    font-size: 16px;
  }

  a {
    color: $color-dim;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    letter-spacing: 3em;
    font-size: 6em;
    font-weight: 400;
    background: #252727;
    padding: 0.3rem 1rem;
    margin: 1.9rem 0 0 0;
    float: right;
  }

  a:hover {
    color: $color-light;
    background: $color-primary;
    border-bottom: 0.35em solid black;
  }

  strong {
    font-weight: 600;
  }

  h1 {
    letter-spacing: 1.5px;
    color: $color-light;
    font-weight: 400;
    font-size: 2.4em;
  }

  /* Timeline */
  .timeline {
    border-left: $line solid $primary;
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
    background: $primary-light;
    color: fade(white, 80%);
    margin: $spacing auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: $spacing;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 50%;

    h1 {
      letter-spacing: 1.5px;
      font-weight: 100;
      font-size: 1.4em;
    }

    .event {
      border-bottom: 1px dashed #ccc;
      padding-bottom: ($spacing * 0.5);
      margin-bottom: $spacing;
      position: relative;

      p {
        color: #adadad;
      }

      &:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
      }

      &:before,
      &:after {
        position: absolute;
        display: block;
        top: 0;
      }

      &:before {
        left: (
            (($date * 0.6) + $spacing + $line + $dot + ($dotborder * 2)) * 1.5
          ) * -1;
        color: #adadad;
        content: attr(data-date);
        text-align: right;
        font-weight: 100;
        font-size: 0.9em;
        min-width: $date;
        font-family: $heading-font;
      }

      &:after {
        left: ($spacing + $line + ($dot * 0.35)) * -1;
        background: #adadad;
        border-radius: 50%;
        height: $dot;
        width: $dot;
        content: "";
        top: 5px;
      }
    }

    .event.status-completed {
      &:before {
        color: #adadad;
      }
      &:after {
        background: $success;
      }
    }

    .event.status-final {
      p {
        color: #000;
      }
      &:before {
        color: $primary-alt;
      }
      &:after {
        background: $primary-alt;
      }
    }

    .event.status-current {
      p {
        color: #000;
      }
      &:before {
        color: $primary-alt;
      }
      &:after {
        background: $primary-alt;
      }
    }
  }
}

// Modal
.generic-modal {
  position: relative;
  header {
    color: #2d2d2d;
  }
}

.ReactModal__Content {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  border: none !important;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

// Miscellaneous
div.error {
  color: $danger;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open,
.react-confirm-alert-overlay {
  z-index: 9999 !important;
  background: rgba(32, 42, 53, 0.4) !important;
}

.bg-primary-linear {
  background: linear-gradient(180deg, $primary, #078cda);
}
.bg-secondary-linear {
  background: linear-gradient(180deg, $secondary, #80a2b8);
}

.bg-success-linear {
  background: linear-gradient(180deg, $success, #37c057);
}

table {
  tbody > {
    tr:first-of-type {
      td,
      th {
        border-top: 0 !important;
      }
    }
  }
}

.table thead th {
  border-top: 0;
}

.order-status {
  display: flex;
  justify-content: space-between;

  .status {
    font-family: $secondary-font;
    display: flex;
    flex: 1;
    justify-content: center;
    height: 40px;
    align-items: center;
    color: #fff;
    margin-right: 10px;
    font-size: 0.88rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .status-completed {
    background: $success;
  }
  .status-incomplete {
    background: $primary-alt;
  }
  .status-current {
    background: $secondary;
  }
  .status-final {
    background: $success;
    color: #fff;
  }
  p {
    margin: 0;
  }
}

.form-control {
  border-color: #eeeeee;
  border-radius: 2px;
}

.container.alert {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 100% !important;
  margin: 0 !important;
  z-index: 9999;
  opacity: 0.9;
  width: 30% !important;
}

.rounded-md {
  border-radius: 2rem;
}

@media only screen and (max-width: 768px) {
  .slide-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .dashboard {
    padding-top: 40px;
  }

  .ReactModal__Content {
    width: 100% !important;
    left: 50% !important;
  }
}

.body-dashboard {
  @media only screen and (max-width: 768px) {
    .navbar {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #timeline-content {
    width: 100%;
  }
  #timeline-content .timeline {
    max-width: 100%;
  }
  #timeline-content .timeline .event:before {
    display: none;
  }
  .mobile-timeline-status {
    display: block !important;
  }
}

.mobile-timeline-status {
  display: none;
}
