/**
 * General base styles to be used strictly for error-layout views.
 *
 */


html, body {
  height: 100%;
}

body {
  background: linear-gradient(135deg, #0079BF, #5067C5);
  color: #fff;
}

p {
  margin: 0;
}
