<%= content_for(:page_title, 'About Us') %>

<div class="container py-5">
  <div class='row mb-5'>
    <div class="col-md-8 mx-auto">
      <div class="title title-md text-info pb-3 text-center">About Us</div>
      <p>
        Rapid Boxing is an online portal that provides local Belizeans with the possibility of 
        shopping internationally only using a Belizean Debit Card. Log in to our app, select your
        order and put in your debit card credentials or you can even make a deposit at any local 
        bank to secure your order. Once the order has been placed you can track your package using our tracking
        services until it reaches your doorstep. Online shopping has never been easier 
        than with Rapid Boxing. Offering quality services is our goal. 
        Shop from the most common shopping sites such as Amazon, eBay, etc. hassle free. Shop with us!
      </p>
    </div>
  </div>
  <hr/>
  <div class='row my-5'>
    <div class="col-md-8 mx-auto">
      <div class="title title-md text-info pb-3 text-center">Our Vision</div>
      <p>
        Our vision is simple - to facilitate you the access to international online shopping from a place of your comfort with the 
        assurance of order tracking from its source to your front door.
      </p>
    </div>
  </div>
  <section id="home-cta-banner">
    <div class="banner-content">
      <div class="banner-header">
        <span class="title title-lg text-white">Give Us A Try</span>
      </div>
      <div class="banner-body">
        <p class="lead text-white">Give us a try today and we promise you won't go back to the old ways of shopping online. You can sign up or simply shop as a guest.</p>
      </div>
      <div class="banner-footer">
        <%= link_to "Order Today", new_line_item_path,  class: "btn btn-lg bg-white font-weight-bold px-4" %>
      </div>
    </div>
  </section>
</div>
