<section id="prices-header">
  <div class="container">
    <h3>Guide yourself with our pricing options</h3>
    <p class="text-muted">Lorem ipsum dolor sit amet,Stet clita kasd gubergren, Lorem ipsum dolor sit amet,Stet clita kasd gubergren.</p>
  </div>
</section>
<!-- pricing groups -->
<section id="pricing-groups">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="pricing-group">
          <section class="header">
            <h4>Silver</h4>
          </section>
          <section class="body">
            <h3 class="price">$100/month</h3>
            <p>Detail breakdown one</p>
            <p>Detail breakdown two</p>
            <p>Detail breakdown three</p>
            <p>Detail breakdown four</p>
          </section>
        </div>
      </div>
      <div class="col">
        <div class="pricing-group">
          <section class="header">
            <h4>Gold</h4>
          </section>
          <section class="body">
            <h3 class="price">$100/month</h3>
            <p>Detail breakdown one</p>
            <p>Detail breakdown two</p>
            <p>Detail breakdown three</p>
            <p>Detail breakdown four</p>
          </section>
        </div>
      </div>
      <div class="col">
        <div class="pricing-group">
          <section class="header">
            <h4>Diamond</h4>
          </section>
          <section class="body">
            <h3 class="price">$100/month</h3>
            <p>Detail breakdown one</p>
            <p>Detail breakdown two</p>
            <p>Detail breakdown three</p>
            <p>Detail breakdown four</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //pricing groups -->
<section id="shipping-faqs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Pricing Faqs</h3>
        <p>
          Lorem ipsum dolor sit amet,Stet clita kasd gubergren, Lorem ipsum dolor sit amet,Stet clita kasd gubergren.
          Lorem ipsum dolor sit amet,Stet clita kasd gubergren, Lorem ipsum dolor sit amet,Stet clita kasd gubergren.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="shiping-calculator">
  <div class="container">
    <div class="row mb-4">
      <div class="col text-center">
        <h3 class="title-lg">Shipping Calculator</h3>
        <p class="text-muted">Lorem ipsum dolor sit amet,Stet clita kasd gubergren, Lorem ipsum dolor sit amet,Stet clita kasd gubergren.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="box-shadow">
          <form>
            <div class="form-group">
              <label for="name">Shipping From</label>
              <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
              <label for="url">Item Category</label>
              <input type="text" class="form-control" name="url">
            </div>
            <div class="form-group">
              <label for="url">Item Value</label>
              <input type="text" class="form-control" name="url">
            </div>
            <div class="form-group">
              <label for="url">Item Weight</label>
              <input type="text" class="form-control" name="url">
            </div>
            <button tpye="button" class="btn btn-primary">Calculate</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
