<%= content_for(:page_title, 'Terms Of Service') %>

<div class="container py-5">
  <div class='row'>
    <div class="col-md-8 mx-auto">
      <div class="title title-md text-info pb-5 text-center">Terms & Conditions of Use</div>
      <p>
        <%= LegalSetting.terms_of_service %>
      </p>
    </div>
  </div>
</div>
