<div class="row mt-5">
  <div class="col-md-6 mx-auto">
    <div class="title title-lg mb-3">Page Not Found</div>
    <p>Make sure the address is correct and the page hasn't moved.</p>
    <p>Please contact support @ luisrodge@outlook.com if you think this is a mistake.</p>
    <%= link_to "Home", home_link, class: "btn btn-success btn-lg mt-5 px-5"%>
  </div>
</div>
